/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */
html, body, .container-fluid {
  margin:0;
  padding:0;
}

.nav-link {
  color: yellow;
  margin-left: 10px;
  display: flex;
}

.nav-link:hover {
  color: red;
}

/* .nav-item   {
  padding: 20px !important;
} */
#hero-section {
  background-image: linear-gradient(rgba(0,0,0.4), rgba(0,0,0,0.7)), url("img/sunrise.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(80,0,0);
  justify-content: center;
}

.flip-container {
  margin: 0 auto;
  padding-top: 20vh;;
  perspective: 1000;
}
.flip-container:hover .flipper {
  transform: rotateY(180deg);
}
.flipper{
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.flip-container, .front, .back {
  width: 200px;
  height: 200px;
}
.front {
  z-index: 1;
  border: 5px solid white;
  border-radius: 50%;
}
.back {
  border: 5px solid white;
  border-radius: 50%;
  transform: rotateY(180deg);
}

h1 {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: yellow;
  letter-spacing: 5px;
}

.avatar {
  margin-top: 150px;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border: 5px solid white;
  border-radius: 50%;
  object-fit: cover;
  transition-duration: 0.5s;
}

.avatar:hover {
  transform: scale(1.2) translate(10px);
  z-index: 1;
}
#mission-section{
  background-image: linear-gradient(rgba(0,0,0.4), rgba(0,0,0,0.7)), url("img/ship.jpg");
  padding-top: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(80,0,0);
}

#mission-section img {
  max-height: 400px;
  margin-bottom: 20px;
}

#mission {
  transition-duration: 0.5s;
}
 
#mission:hover {
  transform: scale(1.5);
  z-index: 1;
}

#contact-section {
  background-image: linear-gradient(rgba(0,0,0.4), rgba(0,0,0,0.7)), url("img/sunset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 30%;
  color: yellow;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(80,0,0);
}

.card {
  width: 300px;
  display: inline-flex;
  margin: 20px;
  height: 630px;
  transition-duration: 0.5s;
}

.card:hover {
  transform: scale(1.2) translate(10px);
  z-index: 1;
}

.card-link {
  color: #0866ff;
}

.card-body{
  color: darkred;
}

card-img-top {
 max-height: 200px;
}

#skills-section, #carousel-section {
  background: linear-gradient(45deg, darkgreen, yellowgreen);
}

#footer-section {
  color: orange
}

#contact_message {
  color: yellowgreen;
}

#navScroll {
  background-color: #030304 !important;
 border: 0;
}

.bi:hover {
  color:lightblue;
}

.carousel-caption {
  color: yellow;
}

.carousel-inner, .carousel-inner img {
  margin: auto;
  width: 430px;
  height:200px;
  display:flex;
  border-radius:10px;
  padding-bottom: 20px;
}